# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# eclipse ignore
.settings/
.project
.classpath

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

